<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- CAROUSEL SECTION --------------------->
  <section id="sec_slides">
    <div class="carousel slide carousel-fade h-100" data-bs-ride="carousel">
      <section class="carousel-inner h-100">
        <div class="carousel-item active" >
          <div></div>
          <div style="background-image: url(/img/logo.png);"></div>
        </div>
        <div class="carousel-item" >
          <div style="background-image: url(/img/car2.png);"></div>
          <div style="background-image: url(/img/logo.png);"></div>
        </div>
        <div class="carousel-item" >
          <div style="background-image: url(/img/car3.png);"></div>
          <div style="background-image: url(/img/logo.png);"></div>
        </div>
        <div class="carousel-item" >
          <div style="background-image: url(/img/car4.png);"></div>
          <div style="background-image: url(/img/logo.png);"></div>
        </div>
      </section>
    </div>
  </section>

  <!--------------------- NEWS SECTION --------------------->
  <section id="sec_news" class="position-relative">
    <div class="w-75">
      <h2 class="text-center mt-2 mx-5 mb-0">#JoinTheLeague </h2>
      <h2 class="text-center mx-5">#EnLaLigaSiMeLlega</h2>
      <div class="carousel slide h-75" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
          <div class="carousel-item h-100 active">
            <h1 class="h-100 d-flex align-items-center justify-content-center" style="font-size: 100px;">NOVEDAD A</h1>
          </div>
          <div class="carousel-item h-100">
            <h1 class="h-100 d-flex align-items-center justify-content-center" style="font-size: 100px;">NOVEDAD B</h1>
          </div>
          <div class="carousel-item h-100">
            <h1 class="h-100 d-flex align-items-center justify-content-center" style="font-size: 100px;">NOVEDAD C</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--------------------- RECENTLY SECTION --------------------->
  <section id="sec_clasify" class="position-relative">
    <div class="container my-1">
      <div class="row">
        <section class="col-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-dark"><h1 class="my-3"> PREVENTAS </h1></button>
          </div>
        </section>
        <section class="col-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-dark"><h1 class="my-3"> FIGURAS </h1></button>
          </div>
        </section>
        <section class="col-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-dark"><h1 class="my-3"> OTROS </h1></button>
          </div>
        </section>
        <section class="col-6">
          <div class="card my-1 text-center">
             <button class="btn btn-outline-dark"><h1 class="my-3"> TODO </h1></button>
          </div>
        </section>
      </div>
    </div>
  </section>

  <!--------------------- RECENTLY SECTION --------------------->
  <section id="sec_body1" class="position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 p-2">
          <h1 class="text-center mt-2 mx-5 mb-0">Articulos mas recientes </h1>
        </div>
      </div>
    </div>
  </section>

  <!--------------------- LITTLE ABOUT SECTION --------------------->
  <section id="sec_about1" class="position-relative">
    <div class="container">
      
      <section class="card my-3 mx-1 border-dark">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-center h-100">
              <img src="/img/logo3.png" height="150" alt="...">
            </div>
            <!--
            <div class="d-flex align-items-center justify-content-center h-100">
              Pendiente imagen
            </div>
            -->
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">LA LIGA: COLLECCIONABLES</h5>
              <p class="card-text">Una de las mejores tiendas de comics del norte de Mexico ahora a su disposicion en el sistema en linea</p>
              <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet.</small></p>
            </div>
          </div>
        </div>
      </section>

    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tcard %>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- TEMPLATE SPINNER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tspinner %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>