<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>
  <!--------------------- CAROUSEL SECTION --------------------->
  <section id="sec_slides">
    <div class="carousel slide carousel-fade h-100" data-bs-ride="carousel">
      <section class="carousel-inner h-100">
        <div class="carousel-item active" >
          <div style="background-image: url(./img/banner1.png);"></div>
        </div>
        <div class="carousel-item" >
          <div style="background-image: url(./img/banner2.png);"></div>
        </div>
        <div class="carousel-item" >
          <div style="background-image: url(./img/banner3.png);"></div>
        </div>
      </section>
    </div>
  </section>

  <!--------------------- NEWS SECTION --------------------->
  <section id="sec_news" class="position-relative">
    <div>
      <h2 class="text-center mt-2 mx-5 mb-0">Repair overdemand </h2>
      <h2 class="text-center mx-5">100% Made in Mexico</h2>
      <div class="carousel slide carousel-fade h-100" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
          <div class="carousel-item h-100 active">
            <!--<h1 class="h-100 d-flex align-items-center justify-content-center" style="font-size: 100px;">NOVEDAD A</h1>-->
            <div style="background-image: url(./img/bannerA.png);"></div>
          </div>
          <div class="carousel-item">
            <div style="background-image: url(./img/bannerB.png);"></div>
          </div>
          <div class="carousel-item">
            <div style="background-image: url(./img/bannerC.png);"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--------------------- RECENTLY SECTION --------------------->
  <section id="sec_clasify" class="position-relative">
    <div class="container my-1">
      <div class="row">
        <section class="col-12 col-md-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-secondary"><h1 class="my-3"> ARTICLES A </h1></button>
          </div>
        </section>
        <section class="col-12 col-md-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-secondary"><h1 class="my-3"> ARTICLES B </h1></button>
          </div>
        </section>
        <section class="col-12 col-md-6">
          <div class="card my-1 text-center">
            <button class="btn btn-outline-secondary"><h1 class="my-3"> ARTICLES C </h1></button>
          </div>
        </section>
        <section class="col-12 col-md-6">
          <div class="card my-1 text-center">
             <button class="btn btn-outline-secondary"><h1 class="my-3"> ALL </h1></button>
          </div>
        </section>
      </div>
    </div>
  </section>

  <!--------------------- RECENTLY SECTION --------------------->
  <section id="sec_body1" class="position-relative">
    <div class="container-lg">
      <div class="row">
        <div class="col-12 p-2">
          <h1 class="text-center mt-2 mx-5 mb-0">Most recently products </h1>
        </div>
      </div>
    </div>
  </section>

  <!--------------------- LITTLE ABOUT SECTION --------------------->
  <section id="sec_about1" class="position-relative">
    <div class="container">
      
      <section class="card my-3 mx-1 border-dark">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="d-flex align-items-center justify-content-center h-100">
              <img src="/projects/eshop94/img/logo.png" height="150" alt="...">
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ESHOP 94</h5>
              <p class="card-text">The Best computer and server store online ever at Mexico</p>
              <p class="card-text"><small class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ratione numquam consequuntur. Doloremque aliquid nulla illum, quasi vero voluptas quia perspiciatis cupiditate eaque, vel itaque dolor. Magnam eius labore rem explicabo in quam voluptas ducimus dicta, impedit adipisci eligendi molestias nesciunt repudiandae dignissimos. Perspiciatis accusantium error quam consequatur! Alias, quisquam quas? Consectetur perferendis ipsa expedita nisi voluptatibus sapiente dignissimos possimus alias nam impedit hic ratione soluta corrupti aspernatur, consequatur debitis rerum praesentium perspiciatis, laborum nulla totam. Voluptatum nihil voluptatem sapiente eos ullam! Sequi nemo ipsum minus ducimus quisquam maiores, qui iusto facere totam unde itaque aliquid eveniet quasi magnam molestias.</small></p>
            </div>
          </div>
        </div>
      </section>

    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <%= htmlWebpackPlugin.tags.modcookie %>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tcard %>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- TEMPLATE SPINNER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tspinner %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>