<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--Big image and info sections-->
  <section id="sec_body7" class="row mx-0">
    <div class="col-12">
      <div class="row justify-content-end mx-0">
        <div class="col-md-4 col-12 px-0 text-center pt-4">
          <div class="card">
            <img src="/img/logo2.png">
          </div>
        </div>
        <div class="col-md-8 col-12 px-0 text-center pt-4">
          <div class="card border-0 overflow-hidden bg-transparent text-white" style="font-family: poppins1; font-size: 20px;">
            <p>Eshop94 the Best computer and server store online ever at Mexico</p>
            <p class="overflow-hidden">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, qui maxime. Atque, incidunt, architecto inventore dolores unde reiciendis iste ad beatae, quia magnam officia hic veritatis ipsa minus eum deserunt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Missin, vision section-->
  <section id="sec_mission" class="container my-2">
    <div class="row">
      <div class="col-md-4 col-12">
        <p class="text-center">Mission</p>
        <p class="text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui fuga numquam debitis in placeat ullam maiores provident? Doloribus praesentium cupiditate eum saepe, minus officiis reprehenderit!
        </p>
      </div>
      <div class="col-md-4 col-12">
        <p class="text-center">Vision</p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eos esse, cumque quo est repellat corrupti. Laboriosam corrupti eaque ratione id velit aliquam officia cumque nostrum omnis odio perferendis fugit, sunt distinctio alias corporis ducimus itaque necessitatibus nulla rem eos!
        </p>
      </div>
      <div class="col-md-4 col-12">
        <p class="text-center">Values</p>
        <p class="text-justify">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, dicta sed sequi numquam exercitationem culpa commodi totam voluptatum minus eius!        
        </p>
      </div>
    </div>
  </section>
  <!--Team work section-->
  <section id="sec_team" class="container my-2 text-secondary">
    <p class="justify-content-center w-100 d-flex">Team Eshop94</p>
    <div class="row">
      <div class="col-sm-2 col-4 text-center">
        <img src="/img/favicon.ico" >
        <p class="mb-0">Team leader</p>
        <p>John III Dust</p>
      </div>
      <div class="col-sm-2 col-4 text-center mx-auto">
        <img src="/img/favicon.ico" >
        <p class="mb-0" >Team leader</p>
        <p >Clifford E. White</p>
      </div>
      <div class="col-sm-2 col-4 text-center mx-auto">
        <img src="/img/favicon.ico" >
        <p class="mb-0" >Team co-leader</p>
        <p >Reiss W. Young</p>
      </div>
      <div class="col-sm-2 col-4 text-center mx-auto">
        <img src="/img/favicon.ico" >
        <p class="mb-0" >Team co-leader</p>
        <p >Joao Correia Souza</p>
      </div>
      <div class="col-sm-2 col-4 text-center mx-auto">
        <img src="/img/favicon.ico" >
        <p class="mb-0" >Team member</p>
        <p >Máthé Zorán</p>
      </div>
    </div>
  </section>
  <!--Contact sale section-->
  <section id="sec_contact" class="container my-3 text-secondary">
    <p class="text-center">Contact</p>
    <div class="row">
      <div class="col-12">
        <p>Cualquier duda, aclaracion, comentario, necedad, negligencia, favor de contactarnos a:</p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod voluptate vitae, sequi molestiae illum aliquam reprehenderit modi beatae adipisci, pariatur eligendi ipsum doloribus, nostrum cumque? Quis harum nihil ducimus mollitia minima repellendus dignissimos quidem quibusdam, quia itaque quae temporibus minus eum sit vitae enim odit? Nam animi tempora amet!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt reprehenderit eligendi delectus, a molestias ipsa eos numquam in cupiditate! Fuga iusto, cumque cupiditate quas aliquid explicabo dolore? Ea quia ut soluta! Vero quo delectus praesentium nihil unde consectetur. At dolorum cupiditate voluptatum, doloribus optio accusantium! Dolorem hic beatae reiciendis.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem sapiente temporibus nulla, labore amet delectus veritatis rem fugiat nisi illo natus quibusdam nesciunt repellat praesentium harum autem non asperiores magnam quasi esse iusto sequi sit? Voluptates modi tenetur quasi asperiores!
        </p>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod voluptate vitae, sequi molestiae illum aliquam reprehenderit modi beatae adipisci, pariatur eligendi ipsum doloribus, nostrum cumque? Quis harum nihil ducimus mollitia minima repellendus dignissimos quidem quibusdam, quia itaque quae temporibus minus eum sit vitae enim odit? Nam animi tempora amet!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt reprehenderit eligendi delectus, a molestias ipsa eos numquam in cupiditate! Fuga iusto, cumque cupiditate quas aliquid explicabo dolore? Ea quia ut soluta! Vero quo delectus praesentium nihil unde consectetur. At dolorum cupiditate voluptatum, doloribus optio accusantium! Dolorem hic beatae reiciendis.
        </p>
      </div>
    </div>

  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <%= htmlWebpackPlugin.tags.modcookie %>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tcard %>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>