
#sec_body7 > div{
  background-color: var(--colorE);
}

#sec_body7 .col-md-4 .card{
  background-color: var(--colorE);
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

#sec_body7 .col-md-4 img{
  width: 100px; 
  margin: 1rem; 
  margin-left: 5rem; 
  margin-bottom: 2rem;
}

#sec_mission .text-center{
  font-size: 40px;
  font-family: hcomic1;
  color: var(--bs-gray);
}

#sec_mission .text-justify{
  font-family: poppins1;
  color: var(--color2);
}

#sec_team p.d-flex{
  font-size: 40px;
  font-family: hcomic1;
  color: var(--bs-gray);
}

#sec_team img{
  height: 50px;
}

#sec_contact .text-center{
  font-size: 40px;
  font-family: hcomic1;
}

#sec_contact .row{
  font-size: 18px;
  color: var(--color2);
}


@media (max-width: 1000px) {
  #sec_body7 .col-md-4 img{
    margin: 0; 
    align-self: center;
  }
}
