
backend/functions/node_modules/
backend/functions/src/keys/
backend/functions/keys/
backend/functions/package-lock.json
backend/functions/ui-debug.log
backend/public/
backend/ui-debug.log
frontend/node_modules/
frontend/src/css/bootstrap.css
frontend/src/font/
frontend/src/img/old/
frontend/src/img/banner1.png
frontend/src/img/banner2.png
frontend/src/img/banner3.png
frontend/src/img/bannerA.png
frontend/src/img/bannerB.png
frontend/src/img/bannerC.png
frontend/src/img/favicon.ico
frontend/src/img/logo.png
frontend/src/img/logo2.png
frontend/src/js/firebase.init.json
frontend/www
frontend/www2
frontend/www3
frontend/package-lock.json
other/
t-second/
z-electron/
.vscode