#sec_body5{
  min-height: 75vh;
}

#sec_body5 .card{
  font-family: poppins1; 
  font-size: 3.5rem; 
  justify-content: center;
  display: flex;
  text-align: center;
  height: 100%;
  min-height: 65vh;
  margin: 2rem;
  color: var(--colorA);
}

#sec_body5 .card i{
  font-size: 15rem; 
}

@media (max-width: 1000px) {
  #sec_body5 .container{
    padding: 0;
  }
  #sec_body5 .card{
    margin-left: 0;
    margin-right: 0;
    font-size: 2rem;
  }
  #sec_body5 .card i{
    font-size: 10rem; 
  }
}