<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body12">
    <div class="container my-2">

      <section id="sec_nresults" style="display: none;">
        <div class="card emptyBox">
          <div>ELEMENTO NO <p class="mb-0">ENCONTRADO</p></div>
          <i class="bi bi-emoji-neutral pt-3"></i>
        </div>
      </section>

    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <%= htmlWebpackPlugin.tags.modcookie %>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <template id="tmp_card2">
    <section class="card">
      <div class="row mx-0">
        <section class="col-md-4">
          <img class="card-img-top p-2" alt="...">
          <div>
            <div class="crd-label"></div>
          </div>
        </section>
        <section class="col-md-8">
          <div class="card-body py-2"> 
            <p class="card-title"></p>
            <p class="card-text crd-edition"></p>  
            <p class="card-text crd-year"></p>  
            <p class="card-text crd-cost"></p>
            <p class="card-text">Descripcion:</p>
            <p class="card-text crd-desc"></p>
            <p class="card-text crd-disp"></p> 

            <div class="row my-4">
              <div class="col-lg-4 col-10 py-1">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-success" type="button">
                      <i class="bi bi-plus-circle"></i>
                    </button>
                  </div>
                  <input type="number" class="form-control text-right" value="1">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="button">
                      <i class="bi bi-dash-circle"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-10 py-1">
                <button type="button" class="btn btn-outline-light2">
                  Agregar a favoritos <i class="bi bi-hand-thumbs-up ps-1"></i>
                </button>
              </div>
              <div class="col-lg-4 col-10 py-1">
                <button type="button" class="btn btn-outline-info">
                  Agregar al carrito <i class="bi bi-cart-plus ps-1"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </template>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>