<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.tags.title %>
  </title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>

  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body15">
    <div class="container">
      <div class="card">
        <div class="row mx-0 p-1">

          <h3 class="mx-auto mt-2">Tu carrito de compras</h3>
          <div class="col-lg-8 col-12">
            <div id="sec_products" class="row mx-0">

            
              <div id="sec_nresults" class="col-md-12 col-12 px-0" style="display: none;">
                <div class="card emptyBox">
                  <div>CARRITO <p class="mb-0">VACIO</p></div>
                  <i class="bi bi-basket3 pt-2"></i>
                </div>
              </div>
            

            </div>
          </div>

          <div class="col-lg-4 col-12 order-md-2 mb-4 mt-3 px-1">

            <h4 class="mb-3">
              <span class="text-secondary">Resumen de compra</span>
              <span id="lbl_qty" class="badge">0</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item">
                <div>
                  <h6 class="my-0">Subtotal</h6>
                </div>
                <span id="lbl_subtotal">$ 0,00</span>
              </li>
              <li class="list-group-item">
                <div>
                  <h6 class="my-0">Envio</h6>
                </div>
                <span id="lbl_deliv">$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span>Total (MXN)</span>
                <strong id="lbl_total">$ 0,00</strong>
              </li>
            </ul>

            <section id="sec_login" style="display: none;">
              <!--E mail section-->
              <div class="card text-center pt-3">
                <p id="lbl_email"></p>
                <p> iniciado correctamente </p>
              </div>
              <!--Dropdown section-->
              <div class="card pb-2">
                <span class="text-center mt-2 mb-1">Seleccionar metodo de envio:</span>
                <!-- Both buttons section -->
                <div class="btn-group p-2" role="group">
                  <input type="radio" class="btn-check" type="button" name="btnradio" data-bs-toggle="collapse" id="btn_toogleL">
                  <label class="btn btn-outline-light2" for="btn_toogleL">
                    Recoger en <p class="mb-0">tienda <i class="bi bi-shop-window ps-1"></i></p>
                  </label>
                
                  <input type="radio" class="btn-check" type="button" name="btnradio" data-bs-toggle="collapse" id="btn_toogleR">
                  <label class="btn btn-outline-light2" for="btn_toogleR">
                    Envio por <p class="mb-0">paqueteria <i class="bi bi-truck ps-1"></i></p>
                  </label>
                </div>
                <!-- Left dropdown section (only one button) -->
                <section class="collapse m-2">
                  <div class="form-group ps-2">
                    <div class="form-check">
                      <input class="form-check-input mt-2" type="checkbox" id="chk_left1" required>
                      <label class="form-check-label" for="btn_checkbox1">
                        Acepto todos los terminos y condiciones explicados en
                        <a href="/src/about/privacity.html" target="”_blank">
                          Terminos y condiciones <i class="bi bi-arrow-up-right-square"></i>
                        </a>
                      </label>
                    </div>
                  </div>
                  <button id="btn_payl" type="button" class="btn btn-lg btn-success" disabled>
                    Pagar con tarjeta mediante
                    <p class="m-0"> stripe <i class="bi bi-cash ps-2"></i></p>
                  </button>
                </section>
                <!-- Right dropdown section (completly form) -->
                <section class="collapse m-2">
                  <form id="frm_payR">

                    <p class="text-center">
                      Complete los datos para el envio <i class="far fa-address-book pl-1"></i>
                    </p>

                    <label for="inp_nameform">Nombre</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input id="chk_name" type="checkbox" checked>
                        </div>
                      </div>
                      <input id="inp_nameform" type="text" class="form-control" disabled required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                      </div>
                    </div>

                    <label for="inp_emailform">Correo electronico</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input id="chk_email" type="checkbox" checked>
                        </div>
                      </div>
                      <input id="inp_emailform" type="email" class="form-control" disabled required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-envelope-open"></i></span>
                      </div>
                    </div>

                    <label>Telefono</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="tel" placeholder="844-123-4567">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                      </div>
                    </div>

                    <label>Estado</label>
                    <div class="input-group mb-2">
                      <select id="inp_stateform" class="form-control" required>
                        <option selected value="">elegir...</option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-wifi"></i></span>
                      </div>
                    </div>

                    <label>Municipio/delegacion</label>
                    <div class="input-group mb-2">
                      <select id="inp_substateform" class="form-control text-lowercase">
                        <option selected value="">elegir...</option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-layers"></i></span>
                      </div>
                    </div>

                    <label>Calle</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="text" placeholder="chiles en nogada ampliacion" required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-signpost-split"></i></span>
                      </div>
                    </div>

                    <div class="form-row mb-2">
                      <div class="col">
                        <label>No de casa</label>
                        <input type="text" class="form-control" placeholder="# 3412">
                      </div>
                      <div class="col">
                        <label>Codigo postal</label>
                        <input type="number" class="form-control" placeholder="65000">
                      </div>
                    </div>

                    <label>Colonia</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="text" placeholder="Independencia" required="">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-signpost-2"></i></span>
                      </div>
                    </div>

                    <label>Descripcion adicional</label>
                    <div class="input-group mb-2">
                      <textarea class="form-control" rows="2" placeholder="casa de color amazul"></textarea>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-card-heading"></i></span>
                      </div>
                    </div>

                    <div class="form-group pl-2">
                      <div class="form-check">
                        <input class="form-check-input mt-2" type="checkbox" id="btn_checkbox1" required>
                        <label class="form-check-label" for="btn_checkbox1">
                          Acepto todos los terminos y condiciones explicados en
                          <a href="/src/about/privacity.html" target="”_blank">
                            Terminos y condiciones <i class="bi bi-arrow-up-right-square"></i>
                          </a>
                        </label>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-success mb-2 mt-3">
                      Pagar con tarjeta mediante
                      <p class="m-0"> stripe <i class="bi bi-cash ps-2"></i></p>
                    </button>
                  </form>
                </section>
              
              </div>
              <!--Space-->
              <br class="my-4">
              <br>
              <!--Developer note-->
              <div class="card mt-4">
                <div class="p-3">
                  <span>Nota del desarrollador : </span>
                  <span>La aplicacion esta en modo de prueba, por lo que solo se aceptara la
                    tarjeta de credito con numero </span>
                  <span>4242-4242-4242-4242 </span>
                  <span>como metodo de pago de prueba, esto siguiendo las indicaciones de la
                    aplicacion <a href="https://stripe.com/" target="_blank">stripe.com© </a></span>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <template id="tmp_card2">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="card p-1">
        <div class="row mx-0">
          <section class="col-sm-3 col-12">
            <img class="card-img m-md-2">
            <div><div class="crd-label"></div></div>
          </section>
          <section class="col-sm-9 col-12">
            <div class="card-body py-1 px-1">
              <div class="row">
                <div class="col-sm-6 col-12 pr-md-0">
                  <a class="crd-link" data-toggle="tooltip">
                    <i class="bi bi-arrow-up-right-square pl-2"></i>
                  </a>
                </div>
                <div class="col-sm-6 col-12 pl-0 crd-cost">
                </div>
              </div>
              <p class="card-text m-0">
              </p>
              <div class="row mx-0 mt-1">
                <div class="col-lg-5 col-md-5 col-6 ps-0 crd-bottom"></div>
                <div class="col-lg-5 offset-lg-2 col-md-7 pe-0 col-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-success" type="button">
                        <i class="bi bi-plus-circle"></i>
                      </button>
                    </div>
                    <input type="number" class="form-control">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="bi bi-dash-circle"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
          </section>
        </div>
      </div>
    </div>
  </template>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <script src="https://js.stripe.com/v3/"></script>
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>