<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.tags.title %>
  </title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>

  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body15">
    <div class="container-md">
      <div class="card">
        <div class="row mx-0 p-1">

          <h3 class="mx-auto mt-2">YOUR CART</h3>
          <div class="col-lg-8 col-12">
            <div id="sec_products" class="row mx-0">

            
              <div id="sec_nresults" class="col-md-12 col-12 px-0" style="display: none;">
                <div class="card emptyBox">
                  <div>EMPTY <p class="mb-0">CART</p></div>
                  <i class="bi bi-basket3 pt-2"></i>
                </div>
              </div>
            

            </div>
          </div>

          <div class="col-lg-4 col-12 order-md-2 mb-4 mt-3 px-1">

            <h4 class="mb-3">
              <span class="text-secondary"> Summary </span>
              <span id="lbl_qty" class="badge">0</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item">
                <div>
                  <h6 class="my-0">Subtotal</h6>
                </div>
                <span id="lbl_subtotal">$ 0,00</span>
              </li>
              <li class="list-group-item">
                <div>
                  <h6 class="my-0">Ship</h6>
                </div>
                <span id="lbl_deliv">$ 0,00</span>
              </li>
              <li class="list-group-item">
                <span>Total (MXN)</span>
                <strong id="lbl_total">$ 0,00</strong>
              </li>
            </ul>

            <section id="sec_login" style="display: none;">
              <!--E mail section-->
              <div class="card text-center pt-3">
                <p id="lbl_email"></p>
                <p> Sign in successfully </p>
              </div>
              <!--Dropdown section-->
              <div class="card pb-2">
                <span class="text-center mt-2 mb-1">Select Shipment:</span>
                <!-- Both buttons section -->
                <div class="btn-group p-2" role="group">
                  <input type="radio" class="btn-check" type="button" name="btnradio" data-bs-toggle="collapse" id="btn_toogleL">
                  <label class="btn btn-outline-light2" for="btn_toogleL">
                    Catch at <p class="mb-0">Store <i class="bi bi-shop-window ps-1"></i></p>
                  </label>
                
                  <input type="radio" class="btn-check" type="button" name="btnradio" data-bs-toggle="collapse" id="btn_toogleR">
                  <label class="btn btn-outline-light2" for="btn_toogleR">
                    Shipment <p class="mb-0"> <i class="bi bi-truck ps-1"></i></p>
                  </label>
                </div>
                <!-- Left dropdown section (only one button) -->
                <section class="collapse m-2">
                  <div class="form-group ps-2">
                    <div class="form-check">
                      <input class="form-check-input mt-2" type="checkbox" id="chk_left1" required>
                      <label class="form-check-label" for="chk_left1">
                        Acept all terms and condition explian in
                        <a href="/projects/eshop94/pages/privacity/" target="”_blank">
                          Terms & Conditions <i class="bi bi-arrow-up-right-square"></i>
                        </a>
                      </label>
                    </div>
                  </div>
                  <button id="btn_payl" type="button" class="btn btn-lg btn-success" disabled>
                    Pay using card throw
                    <p class="m-0"> Mercado pago <i class="bi bi-cash ps-2"></i></p>
                  </button>
                </section>
                <!-- Right dropdown section (completly form) -->
                <section class="collapse m-2">
                  <form id="frm_payR">

                    <p class="text-center">
                      Complete form for Shipment  <i class="far fa-address-book pl-1"></i>
                    </p>

                    <label for="inp_nameform">Full name</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input id="chk_name" type="checkbox" checked>
                        </div>
                      </div>
                      <input id="inp_nameform" type="text" class="form-control" disabled required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-person"></i></span>
                      </div>
                    </div>

                    <label for="inp_emailform">E-mail</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input id="chk_email" type="checkbox" checked>
                        </div>
                      </div>
                      <input id="inp_emailform" type="email" class="form-control" disabled required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-envelope-open"></i></span>
                      </div>
                    </div>

                    <label>Phone</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="tel" placeholder="844-123-4567">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                      </div>
                    </div>

                    <label>State</label>
                    <div class="input-group mb-2">
                      <select id="inp_stateform" class="form-control" required>
                        <option selected value="">choose...</option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-wifi"></i></span>
                      </div>
                    </div>

                    <label>City</label>
                    <div class="input-group mb-2">
                      <select id="inp_substateform" class="form-control text-lowercase">
                        <option selected value="">choose...</option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-layers"></i></span>
                      </div>
                    </div>

                    <label>Street</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="text" placeholder="chiles en nogada ampliacion" required>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-signpost-split"></i></span>
                      </div>
                    </div>

                    <div class="form-row mb-2">
                      <div class="col">
                        <label>address number</label>
                        <input type="number" class="form-control" placeholder="# 3412" required>
                      </div>
                      <div class="col">
                        <label>Zip code</label>
                        <input type="number" class="form-control" placeholder="65000" required>
                      </div>
                    </div>

                    <label>Zone</label>
                    <div class="input-group mb-2">
                      <input class="form-control" type="text" placeholder="Independencia" required="">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-signpost-2"></i></span>
                      </div>
                    </div>

                    <label>Aditional description</label>
                    <div class="input-group mb-2">
                      <textarea class="form-control" rows="2" placeholder="casa de color amazul"></textarea>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-card-heading"></i></span>
                      </div>
                    </div>

                    <div class="form-group pl-2">
                      <div class="form-check">
                        <input class="form-check-input mt-2" type="checkbox" id="chk_right1" required>
                        <label class="form-check-label" for="chk_right1">
                          Acept all terms and condition explian in
                          <a href="/projects/eshop94/pages/privacity/" target="”_blank">
                            Terms & Conditions <i class="bi bi-arrow-up-right-square"></i>
                          </a>
                        </label>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-success mb-2 mt-3">
                      Pay using card throw
                      <p class="m-0"> Mercado pago <i class="bi bi-cash ps-2"></i></p>
                    </button>
                  </form>
                </section>
              
              </div>
              <!--Space-->
              <br class="my-4">
              <br>
              <!--Developer note-->
              <div class="card mt-4">
                <div class="p-3">
                  <span>Nota del desarrollador : </span>
                  <span>La aplicacion esta en modo de prueba, por lo que solo se aceptara la
                    tarjeta de credito con numero </span>
                  <span>4075-5957-1648-3764 </span>
                  <span>como metodo de pago de prueba, esto siguiendo las indicaciones de la
                    aplicacion <a href="https://www.mercadopago.com.mx/developers/es/guides/online-payments/checkout-pro/test-integration#bookmark_tarjetas_de_prueba" target="_blank">mercadopago.com.mx© </a></span>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <%= htmlWebpackPlugin.tags.modcookie %>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <template id="tmp_card2">
    <div class="col-lg-12 col-md-12 col-12 px-0">
      <div class="card p-1">
        <div class="row mx-0">
          <section class="col-sm-3 col-12">
            <img class="card-img m-md-2">
            <div><div class="crd-label"></div></div>
          </section>
          <section class="col-sm-9 col-12">
            <div class="card-body py-1 px-1">
              <div class="row">
                <div class="col-sm-6 col-12 pr-md-0">
                  <a class="crd-link" data-toggle="tooltip">
                    <i class="bi bi-arrow-up-right-square pl-2"></i>
                  </a>
                </div>
                <div class="col-sm-6 col-12 pl-0 crd-cost">
                </div>
              </div>
              <p class="card-text m-0">
              </p>
              <div class="row mx-0 mt-1">
                <div class="col-lg-5 col-md-5 col-5 ps-0 crd-bottom"></div>
                <div class="col-lg-5 offset-lg-2 col-md-7 pe-0 col-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-success" type="button">
                        <i class="bi bi-plus-circle"></i>
                      </button>
                    </div>
                    <input type="number" class="form-control">
                    <div class="input-group-append">
                      <button class="btn btn-danger" type="button">
                        <i class="bi bi-dash-circle"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
          </section>
        </div>
      </div>
    </div>
  </template>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <!--<script src="https://js.stripe.com/v3/"></script>-->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>