#sec_body15{
  min-height: 75vh;
}

#sec_body15 .card{
  border: 0;
  border-radius: 0;
}

#sec_body15 .card h3{
  color: var(--color2);
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem; 
  font-family: hcomic1;
}

/*----------------------- Left side  ------------------------*/

/*------------ General ------------*/

#sec_products .card{
  border: 0;
}

#sec_products .card .row{
  align-items: center;
  border: var(--color2) 1px solid;
  color: var(--color1);
}

#sec_products .card .row section:nth-child(1){
  text-align: center;
  padding: 0;
}

/*------------ Image side  ------------*/

#sec_products .card img{
  max-height: 200px;
  overflow: hidden;
  width: auto;
  height: auto;
}

#sec_products section.col-sm-3 > div{
  position: absolute;
  top: 0;
  color: var(--color2);
  width: 25%;
  height: 75%;
  overflow: hidden;
  border: transparent 5px solid;
}

#sec_products .crd-label{
  position: absolute;
  border-style: solid;
  background: var(--color1);
  opacity: 0.9;
  text-align: center;
  font-family: poppins1;
  font-size: 20px;
  overflow: hidden;
  transform: rotate( 45deg );
  width: 350px;
  height: 35px;
  top: 40px;
  right: -120px;
  text-transform: uppercase;
}

/*------------ title side  ------------*/

#sec_products .card .row section:nth-child(2){
  background-color: var(--color2);
}

#sec_products .card-body .pr-md-0{
  overflow: hidden;
  height: 75px;
}

/*------------ body side  ------------*/

#sec_products .crd-cost{
  overflow: hidden;
  font-family: poppins1;
  font-size: 32px;
  text-align: end;
}

#sec_products .crd-link{
  overflow: hidden;
  color: var(--color3);
  font-family: hcomic1;
  font-size: 24px;
  text-decoration: unset;
  text-transform: uppercase;
}

#sec_products .card-body p{
  overflow: hidden;
  height: 100px;
  font-family: poppins1;
  font-size: 16px;
}

/*------------ bottom side  ------------*/

#sec_products .card-body div:nth-child(3){
  overflow: hidden;
  font-family: poppins1;
  font-size: 17px;
  text-transform: capitalize;
}

#sec_products .bottom{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  /*align-items: center;
  display: flex;*/
}

#sec_products .card-body div:nth-child(3) .btn{
  height: 100%;
  width: 50px;
}

#sec_products .card-body div:nth-child(3) i{
  font-size: 20px;
}

#sec_products .card-body div:nth-child(3) input{
  text-align: right;
}

/*----------------------- Right side  ------------------------*/

/*------------ number side  ------------*/

#sec_body15 h4{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sec_body15 h4 .badge{
  background: var(--color2);
  border-radius: 1rem;
}

#sec_body15 .list-group{
  background: var(--color2);
  padding: 0.5rem;
}

#sec_body15 .list-group li{
  background: transparent;
  color: var(--color1);
  display: flex;
  justify-content: space-between!important;
}

/*------------ seasson side  ------------*/

#sec_login div:nth-child(1){
  background: var(--color2);
  color: var(--color1);
  font-family: poppins1;
}

#sec_login div:nth-child(1) p{
  margin: 0;
}

#sec_login div:nth-child(2){
  background: var(--color2);
  color: var(--color1);
  font-family: poppins1;
}

#sec_login .btn-group .btn{
  border-radius: 0;
  font-family: poppins1;
  width: 50%;
}

#sec_login div:nth-child(2) span{
  font-size: 18px;
}

/*------------ first collapse side  ------------*/

#sec_login div:nth-child(2) section:nth-child(3) label{
  font-size: 14px;
  font-family: poppins1;
  padding-bottom: 0.5rem;
}

#sec_login div:nth-child(2) section:nth-child(3) a{
  color: var(--color3);
  text-decoration: unset;
}

#sec_login div:nth-child(2) section:nth-child(3) button{
  font-size: 18px; 
  width: 100%;
}

/*------------ second collapse side  ------------*/

#sec_login form p{
  font-size: 18px;
}

#sec_login .input-group-text{
  height: 100%;
}

#sec_login form input, #sec_login form select , #sec_login form textarea, #sec_login form span{
  border-radius: 0;
}
#sec_login form .input-group , #sec_login input.form-control{
  border: var(--color1) solid 2px !important;
}
#sec_login form i{
  color: var(--color1);
}
#sec_login form span.input-group-text{
  background: var(--color2); width: 45px;
}

#sec_login form .form-check a{
  color: var(--color3);
  text-decoration: unset;
}

#sec_login form button{
  font-size: 18px; width: 100%;
}


/*------------ extra note side  ------------*/

#sec_login div:nth-child(5){
  text-align: justify;
  font-family: poppins1; 
  font-size: 16px;
}

#sec_login div:nth-child(5) span:nth-child(1){
  font-weight: bold;
}

#sec_login div:nth-child(5) span:nth-child(3){
  color: var(--color3);
}

#sec_login div:nth-child(5) a{
  color: var(--color3);
  text-decoration: unset;
}







.emptyBox{
  height: 80vh;
  align-items: center;
  justify-content: center;

  font-family: poppins1; 
  font-size: 3.5rem; 
  overflow: hidden;
}

.emptyBox div{
  text-align: center;
}