<section id="sec_footer" class="w-100 sticky-bottom">
  <!--<section id="sec_footer" class="w-100 sticky-bottom fixed-bottom">-->
  <footer class="card" >
    <div class="container">
      <div class="row mx-0">

        <div class="col-12 my-2">
          <div class="row text-center">
            <div class="p-2 col-6 col-lg">
              <a href="/projects/eshop94/pages/about/#sec_mission">
                Mision 
                <i class="bi bi-bullseye"></i>
              </a>
            </div>
            <div class="p-2 col-6 col-lg">
              <a href="/projects/eshop94/pages/privacity/">
                Politica de privacidad <i class="bi bi-file-text-fill"></i>
              </a>
            </div>
            <div class="p-2 col-6 col-lg">
              <a href="/projects/eshop94/pages/about/#sec_contact">
                Contacto 
                <i class="bi bi-person-lines-fill"></i>
              </a>
            </div>
            <div class="p-2 col-6 col-lg">
              <a class="border-0 m-1 pt-1" href="https://www.instagram.com/laliga_coleccionables/" target="_blank" data-toggle="tooltip" data-placement="top" data-original-title="Nuestro espacio en Instagram">
                Instagram
                <i class="bi bi-instagram"></i>
              </a>
            </div>
            <div class="p-2 col-6 col-lg">
              <a class="border-0 m-1 pt-1" href="https://www.facebook.com/coleccionableslaliga" target="_blank" data-toggle="tooltip" data-placement="top" data-original-title="Nuestro espacio en facebook">
                Facebook
                <i class="bi bi-facebook"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 text-center my-2" >
          <div class="card border-0 bg-transparent">
            <div class="row">
              <span class="col-lg-5 pr-3"> <img src="/projects/eshop94/img/logo2.png" alt="" width="350"> </span>  
              <span class="col-lg-7 align-self-center">Copyright © 2021. Todos los derechos reservados. <a class="text-info" href="https://eadbeel94.web.app/">Designed by EADBEEL 2021</a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
</section>