<template id="tmp_card">
  <div class="col-lg-3 col-md-4 col-6 p-2">
    <section class="card card2">
      <div>
        <img class="card-img-top p-1">
      </div>
      <div class="card-body py-2 px-3"> 
        <p class="card-title m-0"></p>
        <p class="card-text m-0"><a href=""></a></p>
        <p class="card-text m-0 version"></p>  
      </div>
      <div class="p-2">
        <button type="button" class="btn btn-outline-light2 btn-block p-1">
          Agregar a favoritos <i class="bi bi-hand-thumbs-up"></i>
        </button>
        <button type="button" class="btn btn-success btn-block p-1">
          Agregar al carrito <i class="bi bi-cart-plus" ></i>
        </button>
      </div>
      <div>
        <div class="position-absolute"></div>
      </div>
    </section>
  </div>
</template>