<section class="modal-cookie modal fade p-0">
  <div class="modal-dialog m-0">
    <div class="row" style="height: 100vh">
      <div class="col">

        <div class="modal-content">
          <section class="row align-items-center">
            <div class="col-md-9" >
              <p>
                Utilizamos cookies propios y de terceros para generar datos necesarios para el funcionamiento de esta aplicación y mostrar cierta publicidad personalizada. Para aceptar todos los propósitos indicados, puede continuar navegando, para mas informacion puede visitar la siguiente liga <a class="text-info" target="_blank" href="/pages/privacity">Terminos y condiciones</a>  gracias.
              </p>
              Recordarles a nuestros clientes que la aplicación está en fase de prueba y todos los productos mostrados son ficticios, no están en venta y no se cuenta con los métodos de cobro y envió necesarios para realizar esas ventas, el propósito de esta aplicación es de desarrollo personal para el programador.
            </div>
            <div class="col-md-3">
              <div class="btn-group m-0" role="group">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Entendido</button>
              </div>
            </div>
          </section>
        </div>

      </div>
    </div>
  </div>
</section>