.card2{
  height: 465px; 
  border: 0;
  background-color: var(--color2) !important;
}

.card2 div:nth-child(1){
  overflow: hidden; 
  text-align: center; 
  height: 250px; 
  align-self: center;
  background-color: var(--color1);
  width: 100%;
}
.card2 img{
  align-self: center; 
  height: 230px; 
  max-width: 225px; 
  width: auto;
  overflow: hidden;
  width: auto;
}

.card2 div.card-body{
  background-color: transparent; 
  overflow: hidden;
  color: var(--color1);
}

.card2 .card-title{
  height: 40px; 
  overflow: hidden; 
  font-family: poppins1; 
  font-size: 30px;
}

.card2 div.card-body p:nth-child(2){
  overflow: hidden;
  text-align: justify;
  height: 75px;
}

.card2 a {
  font-family: hcomic1; 
  /*font-size: 14px;*/
  text-decoration: unset;
  color: var(--color3);
  text-transform: uppercase;
}
.card2 a i{
  font-size: 18px;
}

.card2 .version{
  overflow: hidden;
  text-align: left;
  height: 30px; 
  font-family: hcomic1; 
  font-size: 16px;
}

.card2 .btn{
  font-family: poppins1; 
  font-size: 16px; 
  max-height: 34px;
  overflow: hidden;
  width: 100%;
  border-radius: 0;
}

.card2 div:nth-child(4){
  position: absolute;
  overflow: hidden;
  height: 35%;
  width: 100%;
}

.card2 div.position-absolute{
  border-style: solid; 
  background: var(--color1);
  opacity: 0.9;
  text-align: center; 
  font-family: poppins1;  
  font-size: 20px;
  overflow: hidden;
  text-transform: uppercase;

  transform: rotate(45deg); 
  width: 250px;
  height: 28px;
  top: 45px;
  right: -66px;
  font-size: 17px;
}


/*
@media (max-width: 576px) {
  .card2 div.overflow-hidden.text-center{
    display: flex; height: 200px; align-self: center; 
  }
  .card2 img{
    align-self: center; height: auto; max-width: 110px; 
  }
  .card2 section.card{
    height: 330px;
  }
  .card2 .card-title{
    font-size: 22px; height: 30px;
  }
  .card2 p.card-text.text-justify{
    height: 35px; line-height: 1;
  }
  .card2 a {
    font-size: 12px;
  }
  .card2 i.fa-external-link-alt {
    font-size: 12px;
  }
  .card2 p.card-text.text-left{
    font-size: 14px; height: 25px
  }
  .card2 .btn{
    font-family: poppins1; font-size: 11px; max-height: 28px;
  }
  .card2 div.position-absolute.h-50 div{
    font-size: 14px; top: 20px;  right: -65px;
  }
}
*/