/*------------------------------------ FONTS ------------------------------------*/
  @font-face {
    font-family: 'poppins1'; src: url('../font/poppins1.ttf');
  }
  @font-face {
    font-family: 'hcomic1'; src: url('../font/heycomic1.ttf');
  }

/*------------------------------------ HEADER STYLE ------------------------------------*/

:root{
  --color1: #f8f9fa;
  --color2: black;
  --color3: #0dcaf0;
  --color4: #fd7e14;
  --color5: #0d6efd;
  --color6: #303030;

  --colorA: #6C7577;
  --colorB: #D9E3E6;
  --colorE: #434C4E;
}

body{
  background: var(--color1);
}

.test1{
  background-color: var(--bs-primary);
  min-height: 100px;
}

.test2{
  background-color: var(--bs-secondary) !important;
  min-height: 100px;
}



.btn-outline-light2 {
  color: var(--color1);
  border-color: var(--color1);
}
.btn-outline-light2:hover {
  color: #000 !important;
  background-color: var(--color1);
  border-color: var(--color1);
}
.btn-check:focus + .btn-outline-light2, .btn-outline-light2:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light2, .btn-check:active + .btn-outline-light2, .btn-outline-light2:active, .btn-outline-light2.active, .btn-outline-light2.dropdown-toggle.show {
  color: #000;
  background-color: var(--color1);
  border-color: var(--color1);
}
.btn-check:checked + .btn-outline-light2:focus, .btn-check:active + .btn-outline-light2:focus, .btn-outline-light2:active:focus, .btn-outline-light2.active:focus, .btn-outline-light2.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light2:disabled, .btn-outline-light2.disabled {
  color: var(--color1);
  background-color: transparent;
}