#sec_body8{
  min-height: 75vh;
}

#sec_mission .text-center{
  font-family: hcomic1;
  font-size: 40px;
  color: var(--color2);
  text-transform: uppercase;
}

#sec_mission .text-justify{
  font-family: poppins1;
  font-size: 18px;
  color: var(--bs-gray);
}