
#sec_body16{
  min-height: 75vh;
  margin-top: 1rem;
}

#sec_body16 .card{
  overflow: hidden; 
  background-color: var(--color2); 
  color: var(--color1); 
  padding: 1rem;
  margin-bottom: 1rem;
}

#sec_body16 .card section:nth-child(1){
  text-align: center;
  font-family: poppins1;
  font-size: 36px;
}
#sec_body16 .card section:nth-child(1) p{
  font-size: 28px;
}

#sec_body16 .card section:nth-child(1) i{
  font-size: 36px;
}

#sec_body16 img{
  vertical-align: text-bottom;
  height: auto;
  width: 60px;
  padding-left: 0.75rem;
}

#sec_body16 .table-responsive{
  padding: 0.25rem;
  border: var(--color1) solid 1px;
  background-color: #303030;
  margin-bottom: 1rem;
}

#sec_body16 table{
  color: var(--color1);
  font-family: poppins1;
  margin-bottom: 0;
}

#sec_body16 thead tr{
  font-size: 18px;
}

#sec_body16 tbody tr:nth-last-child(2) p{
  margin: 0;
}

#sec_body16 tbody tr:nth-last-child(2) td{
  padding-bottom: 0;
}

#sec_body16 tbody tr:last-child{
  font-size: 24px;
}

#sec_body16 tbody tr:last-child p{
  margin: 0;
}

#sec_body16 section:nth-child(3){
  font-family: poppins1;
  font-size: 20px;
}

#sec_body16 section:nth-child(3) span:nth-child(2){
  color: var(--bs-success);
}

#sec_body16 section:nth-child(3) p:nth-child(4){
  text-align: center;
  font-size: 16px;
}