<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body11">
    <div class="container">
      <div class="row">

        <div class="col-12 p-2">
          <h1 id="lbl_title" class="text-center mt-2 mx-5 mb-0"> </h1>
        </div>

        <div id="sec_nresults" class="col-md-12 col-12 px-0" style="display: none;">
          <div class="card emptyBox">
            <div>YOUR SEARCH GOT <p class="mb-0">0 RESULTS</p></div>
            <i class="bi bi-border pt-3"></i>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--------------------- PAGES SECTION --------------------->
  <section id="sec_pages">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
      </div>
    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <%= htmlWebpackPlugin.tags.modcookie %>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tcard %>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>
</body>
</html>