<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body11">
    <div class="container">
      <div class="row">

        <div class="col-12 p-2">
          <h1 id="lbl_title" class="text-center mt-2 mx-5 mb-0"> </h1>
        </div>

        <div id="sec_nresults" class="col-md-12 col-12 px-0" style="display: none;">
          <div class="card emptyBox">
            <div>0 RESULTADOS PARA <p class="mb-0">SU BUSQUEDA</p></div>
            <i class="bi bi-border pt-3"></i>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>
  <!--------------------- MODAL SPACE SECTION --------------------->
  <section id="modals"></section>
  <!--------------------- TEMPLATE CARD PRODUCT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tcard %>
  <!--------------------- TEMPLATE MODAL SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tmodal %>
  <!--------------------- SCRIPT SECTION --------------------->
  <%= htmlWebpackPlugin.tags.tscripts %>

  <!--  OLD CARD
    <template id="tmp_card">
      <div class="col-lg-3 col-md-4 col-6 p-2">
        <section class="card card2">
          <div>
            <img class="card-img-top p-1">
          </div>
          <div class="card-body py-2 px-3"> 
            <p class="card-title m-0"></p>
            <p class="card-text m-0"><a href=""></a></p>
            <p class="card-text m-0 version"></p>  
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-outline-light2 btn-block p-1">
              Agregar a favoritos <i class="bi bi-hand-thumbs-up"></i>
            </button>
            <button type="button" class="btn btn-success btn-block p-1">
              Agregar al carrito <i class="bi bi-cart-plus" ></i>
            </button>
          </div>
          <div>
            <div class="position-absolute"></div>
          </div>
        </section>
      </div>
    </template>
  -->
</body>
</html>