<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.tags.title %></title>
  <%= htmlWebpackPlugin.tags.icon %>
</head>
<body>
  
  <!--------------------- HEADER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.header %>

  <!--------------------- MAIN SECTION --------------------->
  <section id="sec_body11">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-6 p-2">
          <section class="card card2">
            <div>
              <img src="https://storage.googleapis.com/la-liga-coleccionable.appspot.com/comic/314/0379B314.jpg" class="card-img-top p-1" alt="...">
            </div>

            <div class="card-body py-2 px-3"> 
              <p class="card-title m-0"> 
                $ 175,00
              </p>
              <p class="card-text m-0">
                <a href="/src/product/?proid=-MLkB4dbNyF1bKArh5Ym">
                  BATMAN THREE JOKERS #3 COVER B VARIANT JASON FABOK RED HOOD COVER <i class="bi bi-arrow-up-right-square pl-2"></i>
                </a>
              </p>
              <p class="card-text m-0">single issue </p>  
            </div>


            <div class="p-2 bg-transparent">
              <button type="button" class="btn btn-outline-light2 btn-block p-1">
                Agregar a favoritos <i class="bi bi-hand-thumbs-up"></i>
              </button>
              <button type="button" class="btn btn-success btn-block p-1">
                Agregar al carrito <i class="bi bi-cart-plus" ></i>
              </button>
            </div>
          
            <div>
              <div class="position-absolute">DISPONIBLE</div>
            </div>
          
          </section>
        </div>

      </div>
    </div>
  </section>

  <!--------------------- FOOTER SECTION --------------------->
  <%= htmlWebpackPlugin.tags.footer %>

</body>
</html>